# Cognito
COGNITO_EMAIL_FROM=wmdantas2@gmail.com
COGNITO_EMAIL_REPLY_TO=wmdantas2@gmail.com

# SES
SES_ARN=arn:aws:ses:us-east-1:acountId:identity/emailEnvio

# Route 53
ROUTE53_HOSTED_ZONE_ID=

# API Geteway Custom Domain
DISABLE_DEFAULT_APPGW_ENDPOINT=true
API_DOMAIN_NAME=

# MealsCDN Custom Domain
MEALS_CDN_DOMAIN_NAME=
MEALS_CDN_CERTIFICATE_ARN=arn:aws:acm:us-east-1:acountId:certificate/certificateIdentifier